{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="page-header"> Lastest Otros </h2>
   <table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td> 
            <td><a href="/otro/details/1" class="btn btn-success">Ver</a>
                <a href="/otro/edit/1" class="btn btn-default">Editar</a>
                <a href="/otro/edit/1" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>

    </tbody>
</table> 
{% endblock %}